body {
  background-color: #353232;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  border-radius: 0px;
  border-color: black;
  border-width: 2px;
}


text {
  font-family: monospace;
  font-size: 20px;
  fill: white;
}
